@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  /* Base Color */
  --cls-darkgreen: #2c3930;
  --cls-lightgreen: #3f4f44;
  --cls-darkbrown: #775437;
  --cls-blue: #2e648f;
  --cls-darkblue: #234e70;
  --cls-cream: #dcd7c9;
  --cls-black: #1e1e1e;
  --cls-white: #ffffff;
}

@layer base {
  *,
  *::before,
  ::after {
    @apply box-border m-0 p-0;
  }

  body {
    font-family: "Noto Sans", sans-serif;
    @apply bg-[var(--cls-white)];
  }
}

@layer components {
  .btn-primary {
    @apply px-4 py-2 rounded-lg text-white bg-blue-500;
  }
}

@layer utilities {
  /* / utility classes /
  / login /
  / register /
  / home /
  / banner /
  / add-to-cart /
  / purchase /
  / profile /
  / dashboard /
  / about-contract / */
  .nav-bar {
    @apply text-[var(--cls-cream)] bg-[var(--cls-lightgreen)] px-[24px];
  }
}
