@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

:root {
  /* Base Color */
  --cls-darkgreen: #2c3930;
  --cls-lightgreen: #3f4f44;
  --cls-lightbrown: #a27b5c;
  --cls-darkbrown: #775437;
  --cls-blue: #2e648f;
  --cls-darkblue: #234e70;
  --cls-cream: #dcd7c9;
  --cls-black: #1e1e1e;
  --cls-white: #ffffff;
}
@layer base {
  *,
  ::before,
  ::after {
    @apply m-0 box-border p-0;
  }

  body {
    font-family: "Noto Sans", "Noto Sans Thai", sans-serif;
    @apply bg-[var(--cls-cream)];
  }
}
h3 {
  @apply pb-3 text-xl font-bold;
}
@layer components {
  .btn-primary {
    @apply rounded-lg bg-blue-500 px-4 py-2 text-white;
  }
}
@layer utilities {
  /* / utility classes /
  / login /
  / register /
  / home /
  / banner / */
  /* / purchase /
  / profile /
  / dashboard /
  / about-contract / */
  .footer {
    @apply bg-[var(--cls-darkgreen)] px-[24px] pt-[16px] text-[var(--cls-cream)];
  }
}
